@using RouteAnalyzer;

@model TicketToRideAnalyzer.Models.RouteViewModel
@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<h3>Find a Route</h3>
@using (@Html.BeginForm())
{
    @Html.DropDownListFor(m => m.StartCity, Model.StartingCities)
    @Html.DropDownListFor(m => m.EndCity, Model.EndingCities)
    <input type="submit" value="Find Route" />
}
Route Found:
 
    @foreach (var segment in Model.RouteCities)
    {
        @Html.Label(string.Format("{0} - {1} ({2})", segment.StartCity, segment.EndCity, segment.NumberOfTrains));
    }

@Html.Label(string.Format("Total Cost = {0}", Model.routeCost))

<div id="Bmap">
</div>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Bmap").BingMap({ Height: 600, Width: 800 });
        });
    </script>
}

