@model TicketToRideAnalyzer.Models.RouteViewModel
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}
<h3>Find a Route</h3>
@using (@Html.BeginForm())
{
    @Html.DropDownListFor(m => m.StartCity, Model.StartingCities)
    @Html.DropDownListFor(m => m.EndCity, Model.EndingCities)
    <input type="submit" value="Find Route" />
}
Route Found:
 
@foreach (var s in Model.RouteCities)
{
    @Html.Label(s)
}

@Html.Label(string.Format("Total Cost = {0}", Model.routeCost))